@model IEnumerable<DAL.Appointment>

@{
    ViewBag.Title = "Index";
}
@if (TempData["MyErrorMessage"] != null)
{
    <script> alert("@TempData["MyErrorMessage"]");</script>
}
    <h2>Index</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Employee.User.UserName)
                </td>
                <td>

                    @if (User.IsInRole("Dealer"))
                    {
                        @Html.ActionLink("Assign To Employee", "Edit", new { id = item.Id })
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                    | @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
