<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cars For Sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cars
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Used", "Used", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("New", "New", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("All Cars", "Cars", "Home", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Add New Brand", "Index", "Brand", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Add New Role", "Index", "Role", new { area = "Admin" }, new { @class = "nav-link" })</li>
                }
                else if (User.IsInRole("Dealer"))
                {
                    <li class="nav-item">@Html.ActionLink("My Cars", "Index", "Car", new { area = "Dealer" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Messages", "Index", "Message", new { area = "Dealer" }, new { @class = "nav-link" })</li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                }
            </ul>
            
            <ul class="navbar-nav">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
